@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*.html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:ital,wght@1,300&display=swap');


* {
  font-family: 'Roboto', sans-serif;
}


.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1% 3% 1% 3%;
  background-color: #fbfbfe;
}


button {
  padding: 1%;
  border-radius: 5px;
  background-color: #7164f0;
  height: 50px;
  width: 100px;

}

button a {
  color: white;
  text-decoration: none;
}

.navLogin {
  background-color: #fbfbfe;
  border-color: #e3e3f9;
  border: 2% solid;
}

.navSignup {
  background-color: #7164f0;
  border: 0;
}

.navLogin a {
  color: black;
}

.logoName {
  width: 30%;
}

.logoName a {
  text-decoration: none;
  color: #251f63;
  font-weight: bolder;
}

.navItems {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 25%;
  padding: 0 50px 0 50px;

}

.navItems a {
  text-decoration: none;
  color: #313752;
}

.navButton {
  width: 15%;
  display: flex;
  justify-content: space-between;
}


.navBarOptions{
  border: 0;
}

.portfolioDropdownOption{
  border-radius: 0 0 10px 10px;
  padding: 2%;
}

.HeroBackground {
  background-image: url("../../assets/images/PW_map_background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.Hero {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5%;
  font-size: 2rem;
  font-weight: bolder;
}



.heroText {
  font-size: 3rem;
  color: #000929;
  opacity: 1;
}

.heroDesc {
  font-size: 1.1rem;
  color: #353b56;
  opacity: 1;

}

.propertyCard {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-radius: 10px;
  width: 273.450px;
  height: 354.100px;
  border: 3px #f1effa;
  border-style: double;
  padding: 0;

}

.propertyCard img {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.propertyCard_info {
  background-color: white;
  padding: 5%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.colouredText {
  font-size: 1.2rem;
  color: #847bf3;
  font-weight: bold;
}

.colorText {
  color: #847bf3;
}

.pcBigText {
  font-size: 1.5rem;
  font-weight: bold;
}

.greyText {
  color: #abadb8;
}

.propertyCardNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #847bf3;
}

.propertyNumbers {
  padding: 5%;
  display: flex;
  gap: 50px;
}

.faded {
  color: #abadb8;
  font-weight: lighter;
}

.rbsNavSelector {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2% 0 0 0;
  border-color: grey;
  border-radius: 10px 10px 0 0;
  width: 30%;
  background-color: white;
}


.rbsInfo1 {
  display: flex;
  flex-direction: row;
  padding: 2% 2% 2% 10%;
  justify-content: space-evenly;
  border-radius: 0 10px 10px 10px;
  background-color: white;  
}

.rbsInfo2 {
  display: flex;
  flex-direction: row;
  padding: 2% 2% 2% 10%;
  justify-content: space-evenly;
  border-radius: 0 10px 10px 10px;
  background-color: white;  
}

.rbsInfo3 {
  display: flex;
  flex-direction: row;
  padding: 2% 2% 2% 10%;
  justify-content: space-evenly;
  border-radius: 0 10px 10px 10px;
  background-color: white;  
}


.disNone{
  display: none;
}

.rbsOption{
  background-color: white; 
  border-radius: 10px 10px 0 0;
  border: 0;
}


.rbsSelected{
  color: #847bf3;
  font-weight: bold;
  border-bottom: 2px;
  border-bottom: solid;
  border-color: #7164f0;
  
}

.rbsNav {
  display: flex;
  flex-direction: column;
  padding: 2% 2% 2% 16%;
  width: 40%;
}

.rbsButton {
  background-color: #847bf3;
  color: white;
  border: 0;
  margin-top: 15px;
  width: 150px;

}

.segment2{
  display: flex;
  flex-direction: row;
  padding: 5%;
  justify-content: space-evenly;
}

.segment2 img{
  border-radius: 10px;
  height: 400px;
  width: 30%;
  margin: 100px 0px 0px 50px ;
}

.segment2Info{
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 5% 5% 5% 10%;
}

.s2OptionMenu{
  display: flex;
  flex-direction: row;
  background-color: #fbfaff;
  text-align: center;
  width: 70%;
  padding: 2% 1% 2% 1%;
  justify-content: space-evenly;
  border-radius: 5px;
  border: 2px solid;
  border-color: #efeffb;
}

.s2Options{
  background-color: #dddee4;
  color: grey;
  padding: 2%;
  border-radius: 5px;
  border: 0;
}

.s2Selected{
  background-color: #fefeff;
  color: #847bf3;
  font-weight: bold;
  border: 1px solid;
}

.s2Hero{
  font-size: 2rem;
  font-weight: bold;
}

.s2Desc{
  font-size: 1.2rem;
  color: #abadb8;;
}

.s2Info button{
  color: white;
  background-color: #847bf3;
  border: 0;
}

.segment3{
  margin: 0% 15% 0% 15%;
  background-color: #f7f6fc;
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 5%;
  border: 3px #e1def7;
  border-style: double;
  border-radius: 5px;
  
}

.segment3 img {
  width: 60%;
  height: 400px;
  border-radius: 5px;
}

.s3Icons{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 80px;
  gap: 20px;
}

.s3Icons img{
  width: 70px;
  height: 70px;
}

.iconText{
  font-size: 1.2rem;
  font-weight: bold;
}

.iconDesc{
  font-size: 0.9rem;
}

.recommendations{
  margin: 10%;
  padding: 5%;
  width: 70%;
}

.recommendations button{
  background-color: #7164f0;
  color: white;
  width: 200px;
  border: 0;
  margin-top: 22.5px;
}

.recNav{
  display: flex;
  flex-direction: row;
  gap: 500px;
}

.propertyCardsGrid{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.pcRow1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.pcRow2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Testimonial{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Testimonial img{
  width: 150px;
  height: 50px;
  margin-left: 685px;
}

.clientEmail{
  background-color: #17125b;
  padding: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.clientEmail input{
  width: 70%;
  height: 60px;
  border-radius:5px 0px 0px 5px;
  border: 0;
}

.clientEmail button{
  color: white;
  height: 50px;
  border-radius: 5px;
  margin: 7px ;
  border: 0;
  width: 27%;
}

.emailInputFields{
  background-color: white;
  width: 40%;
  margin-left: 30%;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: row;
}

.homeFooter{
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.homeFooter a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.homeFooter p{
  color: grey;
}

.commonFooter{
  display: flex;
  flex-direction: row;
  gap: 60%;
  padding: 2% 2% 2% 10%;
  border-top: 1px solid grey;
}

.commonFooter span{
  color: grey;
  }

.contactIcons{
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}