<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs</title>
    <link href="/Styles/main.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/blogs.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <%- include('navbar',{user}); %>

    <header>
      <h2>Revolutionize your property game with the latest updates from PropertyWala!</h2>
      <p>
        Considering making real estate investments? Follow PropertyWala's latest stories and news to
        stay informed.
      </p>
      <div>
        <input type="text" placeholder="Enter your email address" />
        <button>Sign up</button>
      </div>
    </header>

    <section>
      <div class="split">
        <div>
          <p>March 18th,2023</p>
          <h3>
            PropertyWala acquires huge investments from billnotes, elon husk, jeff yezos and many
            more!
          </h3>
          <button>Know more</button>
        </div>
        <img src="/images/PW_blogs_investors_img.png" alt="investors" />
      </div>
    </section>

    <section>
      <h2 class="underline">Our current developments.</h2>
      <div class="flexGrid">
        <div>
          <img src="/images/PW_blogs_image1.jpg" alt="blogImage1" />
          <div>
            <h3>How to pay BMC property tax?</h3>
            <span>February 22nd, 2023</span>
          </div>
        </div>
        <div>
          <a href="/blog/2"><img src="/images/PW_blogs_image2.jpg" alt="blogImage2" /></a>
          <div>
            <h3>The Importance of Power of Attorney</h3>
            <span>February 21st, 2023</span>
          </div>
        </div>
        <div>
          <img src="/images/PW_blogs_image3.jpg" alt="blogImage3" />
          <div>
            <h3>How the Delhi-Mumbai Expressway will upgrade India's Real Estate sector?</h3>
            <span>February 21st, 2023</span>
          </div>
        </div>
        <div>
          <img src="/images/PW_blogs_image4.jpg" alt="blogImage4" />
          <div>
            <h3>Embassy REIT raises Rs. 1000 crores debt from Bajaj Housing Finance</h3>
            <span>May 25th, 2022</span>
          </div>
        </div>
        <div>
          <img src="/images/PW_blogs_image5.jpg" alt="blogImage5" />
          <div>
            <h3>
              Godrej Properties Ltd. acquires Raj Kapoor's bungalow in Mumbai, to develop premium
              residential project
            </h3>
            <span>February 18th, 2023</span>
          </div>
        </div>
        <div>
          <img src="/images/PW_blogs_image6.jpg" alt="blogImage6" />
          <div>
            <h3>How WeWork India built its success story?</h3>
            <span>February 8th, 2023</span>
          </div>
        </div>
        <div>
          <img src="/images/PW_blogs_image7.jpg" alt="blogImage7" />
          <div>
            <h3>Best Residential areas in Mumbai</h3>
            <span>February 7th, 2023</span>
          </div>
        </div>
        <div>
          <img src="/images/PW_blogs_image8.jpg" alt="blogImage8" />
          <div>
            <h3>Circle rate in Delhi in 2022</h3>
            <span>February 7th, 2023</span>
          </div>
        </div>
        <div>
          <img src="/images/PW_blogs_image9.jpg" alt="blogImage9" />
          <div>
            <h3>The Importance of Land Survey Number</h3>
            <span>February 3rd, 2023</span>
          </div>
        </div>
        <div>
          <img src="/images/PW_blogs_image10.jpg" alt="blogImage10" />
          <div>
            <h3>Everything you need to know about the Mumbai Coastal Road Project</h3>
            <span>February 3rd, 2023</span>
          </div>
        </div>
        <div>
          <img src="/images/PW_blogs_image11.jpg" alt="blogImage11" />
          <div>
            <h3>Budget 2023- What's in it for Real Estate sector?</h3>
            <span>February 2nd, 2023</span>
          </div>
        </div>
        <div>
          <img src="/images/PW_blogs_image12.jpg" alt="blogImage12" />
          <div>
            <h3>Why is paying for a view in Mumbai not worth it?</h3>
            <span>January 28th, 2023</span>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="carouselSection">
        <div class="slideshow-container">
          <div class="mySlides fade">
            <div class="numbertext">1 / 4</div>
            <img src="/images/PW_carousel_image01.webp" style="width: 100%" />
            <h3>The new generation of investors</h3>
            <p><i class="fa-regular fa-user"></i> Person1</p>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">2 / 4</div>
            <img src="/images/PW_carousel_image02.webp" style="width: 100%" />
            <h3>Foreign investment</h3>
            <p><i class="fa-regular fa-user"></i> Person2</p>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">3 / 4</div>
            <img src="/images/PW_carousel_image03.webp" style="width: 100%" />
            <h3>
              Price of properties with good view in mumbai are predicted to double in the near
              future
            </h3>
            <p><i class="fa-regular fa-user"></i> Person3</p>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">4 / 4</div>
            <img src="/images/PW_carousel_image04.webp" style="width: 100%" />
            <h3>Mindspace REIT- all bout it!</h3>
            <p><i class="fa-regular fa-user"></i> Person4</p>
          </div>

          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br />

        <div style="text-align: center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
          <span class="dot" onclick="currentSlide(4)"></span>
        </div>
      </div>
    </section>

    <section>
      <div class="fbText"><h2 class="underline">Featured Blogs</h2></div>
      <div class="featured-blogs">
        <div class="featuredItem">
          <img src="/images/PW_blog_featured_img1.webp" alt="featuredImage1" />
          <div>
            <h3>RBI revised repo rates by 50 bps -how will it affect the real estate sector?</h3>
            <p>From 40 Bps in the month of May, the repo rates increased to... read more</p>
            <span>September 30, 2022</span>
          </div>
        </div>
        <div class="featuredItem">
          <img src="/images/PW_blog_featured_img2.webp" alt="featuredImage2" />
          <div>
            <h3>How to invest in REITs in India and the benefits of investing in REITs</h3>
            <p>While 10 years ago, real estate investments were just limite... read more</p>
            <span>September 15, 2022</span>
          </div>
        </div>
        <div class="featuredItem">
          <img src="/images/PW_blog_featured_img3.webp" alt="featuredImage3" />
          <div>
            <h3>Factors to consider before investing in a pre-leased property</h3>
            <p>With many investment classes that exist, like fixed-income read more</p>
            <span>September 16, 2022</span>
          </div>
        </div>
        <div class="featuredItem">
          <img src="/images/PW_blog_featured_img4.webp" alt="featuredImage4" />
          <div>
            <h3>How Indians invest in REITs</h3>
            <p>Technology has evolved in almost every sector including real... read more</p>
            <span>September 17, 2022</span>
          </div>
        </div>
        <div class="featuredItem">
          <img src="/images/PW_blog_featured_img5.webp" alt="featuredImage5" />
          <div>
            <h3>Retire early by investing in commercial real estate!</h3>
            <p>With many investment classes that exist, like fixed-income a... read more</p>
            <span>September 18, 2022</span>
          </div>
        </div>
        <div class="featuredItem">
          <img src="/images/PW_blog_featured_img6.webp" alt="featuredImage6" />
          <div>
            <h3>Is Decentralised finance (DeFi) a good investment?</h3>
            <p>A major challenge in the Indian real estate market is the la... read more</p>
            <span>September 19, 2022</span>
          </div>
        </div>
        <div class="featuredItem">
          <img src="/images/PW_blog_featured_img7.webp" alt="featuredImage7" />
          <div>
            <h3>RBI repo rate hikes by 40 bps- boon or bane?</h3>
            <p>The RBI repo rate hike in India has left many real estate an... read more</p>
            <span>September 20, 2022</span>
          </div>
        </div>
        <div class="featuredItem">
          <img src="/images/PW_blog_featured_img8.webp" alt="featuredImage8" />
          <div>
            <h3>Benefits of investing in commercial real estate</h3>
            <p>When it comes to property buying, people in India often get read more</p>
            <span>September 21, 2022</span>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="newsletter">
        <img src="/images/PW_aboutUS_office.webp" alt="office" />
        <div class="content-container">
          <h2>Sign up for our email news letter</h2>
          <p class="greyText">
            keep up with the most recent information about the real estate market!
          </p>
          <span>
            <input type="email" name="" id="" />
            <button>Sign Up</button>
          </span>

          <div class="contact">
            <h3>Contact Us:</h3>
            <div>
              <span><i class="fa-brands fa-facebook"></i></span>
              <span><i class="fa-brands fa-twitter"></i></span>
              <span><i class="fa-brands fa-instagram"></i></span>
              <span><i class="fa-brands fa-linkedin"></i></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('footer',{user}); %>

    <script src="https://kit.fontawesome.com/1448b6dc4e.js" crossorigin="anonymous"></script>
    <script src="/js/blogs.js"></script>
  </body>
</html>
