<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/Styles/main.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/footer.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <footer class="homeFooter">
      <a class="logo" href="../src/index.html">PropertyWala</a>
      <div class="wrapper">
        <div class="child-wrapper">
          <div class="not-show"></div>
          <div class="footer-section">
            <h5>SELL A HOME</h5>
            <p>Request an offer</p>
            <p>Pricing</p>
            <p>Reviews</p>
            <p>Stories</p>
          </div>
          <div class="footer-section">
            <h5>BUY A HOME</h5>
            <p>Buy</p>
            <p>Finance</p>
          </div>
          <div class="footer-section">
            <h5>BUY, RENT AND SELL</h5>
            <p>Buy and sell properties</p>
            <p>Rent home</p>
            <p>Builder trade-up</p>
          </div>
        </div>

        <div class="child-wrapper">
          <div class="not-show"></div>
          <div class="footer-section">
            <h5>TERMS & PRIVACY</h5>
            <a href="/trust-and-safety"><p>Trust & Safety</p></a>
            <a href="terms-of-service"><p>Terms of Service</p></a>
            <a href="privacy-policy"><p>Privacy Policy</p></a>
          </div>
          <div class="footer-section">
            <h5>ABOUT</h5>
            <p>Company</p>
            <p>How it works</p>
            <p>Contact</p>
            <p>Investors</p>
          </div>
          <div class="footer-section">
            <h5>RESOURCES</h5>
            <a href="/blog"><p>Blog</p></a>
            <p>Guides</p>
            <a href="/FAQ"><p>FAQ</p></a>
            <p>Help Center</p>
          </div>
        </div>
      </div>

      <div class="commonFooter">
        <span>PropertyWala</span>
        <div class="contactIcons">
          <span><i class="fa-brands fa-facebook-f"></i></span>
          <span><i class="fa-brands fa-instagram"></i></span>
          <span><i class="fa-brands fa-twitter"></i></span>
          <span><i class="fa-brands fa-linkedin"></i></span>
        </div>
      </div>
    </footer>

    <script src="https://kit.fontawesome.com/1448b6dc4e.js" crossorigin="anonymous"></script>
  </body>
</html>
