<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Property Wala</title>
  <link href="/Styles/main.css" rel="stylesheet" type="text/css" />
  <link href="/Styles/index.css" rel="stylesheet" type="text/css" />


  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
</head>

<body>
  <%- include('navbar',{user}); %>
    <header>
      <div class="HeroBackground">
        <div class="header-part-1">
          <div class="heroSlogan">
            <h1 class="heroText">Searching for your dream property?</h1>
            <p class="heroDesc">Look no further than PropertyWala</p>
            <p class="heroDesc">- your gateway to a world of real estate possibilities!</p>
          </div>
          <div class="hero-property-card">
            <%- include('propertyCard', {property:propertyArray[0]}); %>
          </div>

        </div>

        <div class="header-part-2">
              <div class="rbsTabs">
                <div class="rbsNav">
                  <div class="rbsOption rbsSelected">Rent</div>
                  <div class="rbsOption">Buy</div>
                  <div class="rbsOption">Sell</div>
                </div>
                <div class="rbsInfoMobile">
                  <div class="rbsRS">
                    <input type="text" placeholder="Search properties..">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                  </div>
                  <div class="rbsSell">
                    <a href="#" target="_blank"><button>List your property <i
                          class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i></button></a>
                  </div>
                </div>
                <div class="rbsInfoExtended">
                    <form class="rbsInfo1">
                      <div>
                        <p class="greyText1">
                          Location
                        </p>
                        <input id="locationRent" type="text" name="location" value="Mumbai">
                      </div>
                      <span style="font-size: 2.5rem; color:#e1def6;">|</span>
                      <div>
                        <p class="greyText1">
                          When
                        </p>
                        <input type="date" name="dateTime" id="">
                      </div>
                      <span style="font-size: 2.5rem; color:#e1def6;">|</span>
                      <button type="button" onclick="searchRent()">Search Properties</button>
                    </form>
                    <form class="rbsInfo2">
                      <div>
                        <p class="greyText1">
                          Location
                        </p>
                        <input id="locationBuy" type="text" name="location" value="Mumbai">
                      </div>
                      <span style="font-size: 2.5rem; color:#e1def6;">|</span>
                      <div>
                        <p class="greyText1">
                          When
                        </p>
                        <input type="date" name="dateTime">
                      </div>
                      <span style="font-size: 2.5rem; color:#e1def6;">|</span>
                      <button onclick="searchBuy()" type="button">Search Properties</button>
                    </form>
                  <div class="rbsInfo3">
                    <p>Increase the reach of your property and get higher bids!</p>
                    <a href="/list-property" "><button>List your property <i
                          class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i></button></a>
                  </div>

                </div>
              </div>



            </div>
            <div class="p2">
              <div class="propertyNumbers">
                <div>
                  <p class="colorText"><span class="faded">|</span>50k+</p>
                  <p>renters</p>
                </div>
                <div>
                  <p class="colorText"><span class="faded">|</span>10k+</p>
                  <p>properties</p>
                </div>
              </div>
            </div>
          </div>
    </header>


    <div class="segment2">
      <img src="/images/PW_S2_img.jpg" alt="property image" />
      <div class="segment2Info">
        <div class="s2OptionMenu">
          <button class="s2Options s2Selected">For Tenants</button>
          <button class="s2Options">For landlords</button>
        </div>
        <div class="s2Info">
          <p class="s2Hero">The ultimate destination for tenants, buyers, and landlords!</p>
          <p class="s2Desc">
            We make it simple and effective to buy a new home, rent a property, or sell your
            existing one. The best part is that using our services will help you save a tonne of
            money and time.
          </p>
          <a href="#"><button>Learn more </button></a>
        </div>
        <div class="s2Info disNone">
          <p class="s2Hero">The ultimate destination for tenants, buyers, and landlords!</p>
          <p class="s2Desc">
            We make it simple and effective to buy a new home, rent a property, or sell your
            existing one. The best part is that using our services will help you save a tonne of
            money and time.
          </p>
          <a href="#"><button>Learn more </button></a>
        </div>
      </div>
    </div>

    <div class="segment3">
      <div class="s3Info">
        <p class="s2Hero">The modern means of locating a new residence</p>
        <p class="faded">With over 10,000 properties available, find the home of your dreams.</p>
        <div class="s3Icons">
          <div>
            <img src="/images/PW_S3_icon1.png" alt="icon1" />
            <p class="iconText">6.9%</p>
            <span class="faded iconDesc">Property Return Rate</span>
          </div>
          <div>
            <img src="/images/PW_S3_icon2.png" alt="icon2" />
            <p class="iconText">6,369</p>
            <span class="faded iconDesc">Property in Sell and Rent</span>
          </div>
          <div>
            <img src="/images/PW_S3_icon3.png" alt="icon3" />
            <p class="iconText">7,420</p>
            <span class="faded iconDesc">Successful Transactions</span>
          </div>
        </div>
      </div>
      <img src="/images/PW_S3_img.webp" alt="s3Image" />
    </div>

    <div class="recommendations">
      <div class="recNav">
        <button>Browse more properties</button>
      </div>

      <p class="faded recDesc">Some of the chosen properties in your area.</p>

      <div class="container">
        <div class="row">
          <p class="s2Hero">Based on your location</p>
        <% for(let j = 1; j<10;j++){  %>
          <div class="col">
            <%- include('propertyCard',{property:propertyArray[j]}); %>
          </div>

        <% } %>
        </div>
      </div>
    </div>
    </div>


    <div class="Testimonial">
      <h1>Testimonials</h1>
      <p class="greyText">See the opinions of our property managers, landlords, and tenants.</p>
      <p>"I use PropertyWala practically every day to hunt for a second home, a vacation
        condo, or just to browse fantasy homes in different regions. Thank you,
        PropertyWala, for the enjoyable home searching and analysis! "
      </p>
      <span><b>Ram,</b><span class="greyText">Renter</span></span>
      <img src="/images/PW_peopleIcons.png" alt="peopleIcons" />
    </div>

    <div class="clientEmail">
      <div>
        <h1 style="color: white">Are you a landllord?</h1>
        <span class="greyText">Learn how you can raise the value of your house so that it will sell.</span>

      </div>
      <div class="emailInputFields">
        <input type="text" placeholder="Enter your email address" /><button>Submit</button>
      </div>
      <span class="greyText">Join 6000+ other landlords in our propertyWala community.</span>
    </div>



    <%- include('footer',); %>

      <script src="https://kit.fontawesome.com/1448b6dc4e.js" crossorigin="anonymous"></script>
      <!-- MDB -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
      <script src="/js/index.js"></script>
</body>

</html>