<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List Your Property</title>
    <link href="/Styles/main.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/list-property.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <%- include('navbar',{user}); %>
    <header>
      <div>
        <h2>Rent/Sell your property</h2>
        <p>list now to increase the reach of your property</p>
      </div>
    </header>

    <section>
      <form action="/list-property" method="post" enctype="multipart/form-data">
        <div class="container">
          <div class="personal-details">
            <h3>Personal Details</h3>
            <label for="Ownership">I am the</label>
            <select name="listerRelation" id="">
              <option value="owner">Owner</option>
              <option value="agent">Agent</option>
              <option value="builder">Builder</option>
            </select>
            <label for="name">Name</label>
            <input type="text" placeholder="Enter your name" name="listerName" required />
            <label for="name">Your profession</label>
            <input
              type="text"
              placeholder="Enter your profession"
              name="listerDescription"
              required
            />

            <label for="mobileNumber">Mobile number</label>
            <input
              type="number"
              for="mobileNumber"
              placeholder="Enter your mobile number"
              name="listerMobileNumber"
              required
            />

            <label for="email">Email</label>
            <input type="email" name="listerEmail" required />
          </div>

          <div class="property-details">
            <h3>Property Details</h3>
            <label for="propertyName">Property Name</label>
            <input
              type="text"
              placeholder="Enter the name of property"
              name="propertyName"
              required
            />
            <label for="propertyPrice">Property Price</label>
            <input
              type="number"
              placeholder="Enter price of the property"
              name="propertyPrice"
              required
            />
            <label for="propertyType">For</label>
            <div class="custom-select" style="max-width: 21em">
              <select id="" name="propertyPurpose">
                <option value="sale">Sale</option>
                <option value="rent">Rent</option>
              </select>
            </div>

            <label for="City">City</label>
            <input type="text" name="propertyCity" id="" placeholder="Enter City" required />

            <label for="area">Property area in sqft</label>
            <input type="number" name="propertyArea" id="" placeholder="Enter area" required />

            <label for="lot">Lot Size in sqft</label>
            <input type="number" name="lotSize" id="" placeholder="Enter lot size" required />

            <label for="year">Year Built:</label>
            <input
              type="number"
              name="yearBuilt"
              id=""
              placeholder="Enter year built"
              min="1950"
              max="2023"
            />

            <label for="parking">Does your property have parking?</label>
            <select id="" name="propertyParking">
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>

          <div class="property-location">
            <h3>Property Details</h3>

            <label for="locality">Locality</label>
            <input type="text" placeholder="Enter Locality" name="propertyLocality" required />

            <label for="image">Property Images</label>
            <input type="file" name="propertyImages" multiple="multiple" required />

            <label>Property Type</label>
            <select name="propertyType" required>
              <option value="select_propertyType">Select Property Type</option>
              <option value="Flat">Flat/Apartment</option>
              <option value="home">Residential Home</option>
              <option value="villa">Villa</option>
              <option value="penthouse">Penthouse</option>
              <option value="studioApartment">Studio Apartment</option>
              <option value="serviceApartment">Service Apartment</option>
              <option value="office">Comercial office Space</option>
              <option value="shop">Comercial Shop</option>
              <option value="showroom">Comercial Showroom</option>
              <option value="land">Comercial Land</option>
              <option value="warehouse">Warehouse/Godown</option>
              <option value="industrialBuilding">Industrial Building</option>
              <option value="agriculturalLand">Agricultural Land</option>
              <option value="farmhouse">Farm House</option>
            </select>

            <label for="beds">Please Enter the number of bedrooms:</label>
            <input type="number" name="bedsNum" id="" min="0" />
            <label for="beds">Please Enter the number of washrooms:</label>
            <input type="number" name="bathsNum" id="" min="0" />
            <label for="description">Please provide a description of your property:</label>
            <textarea
              name="propertyDescription"
              id=""
              cols="30"
              rows="5"
              style="border-color: #6a5dfd"
            ></textarea>
          </div>
        </div>

        <div class="form-footer">
          <span style="text-align: left"
            ><input type="checkbox" name="" id="" required /> I agree to the Terms and Conditions of
            PropertyWala</span
          >
          <button type="submit">List Property</button>
        </div>
      </form>
    </section>
    <%- include('footer',); %>
  </body>
</html>
