<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/Styles/main.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/myProperties.css" rel="stylesheet" type="text/css" />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <title>myProperties</title>
  </head>
  <body>
    <%- include("navbar",{user}); %>
    <header>
      <h1 class="e-h1">My Properties</h1>
    </header>

    <% if(propertyArray.length == 0){ %>
    <div class="e-container">
      <p class="e-p">Please list a property to view your properties</p>
      <a href="/list-property">
        <button class="e-btn">List a Property</button>
      </a>
    </div><br><br><br>
      <%}else{%>
    
    <section>
      <div class="myProperties-grid">
        <% for(let i =0; i<propertyArray.length;i++){ %>
          <div class="item"><%- include('propertyCard',{property : propertyArray[i]}) %></div>
        <%}%>
      </div>
    </section>
    <%}%>
    <%- include("footer"); %>

    <script src="https://kit.fontawesome.com/1448b6dc4e.js" crossorigin="anonymous"></script>
  </body>
</html>
