<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/Styles/propertyCard.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="propertyCard" onclick="()=>{location.href = '/propertyDetail/id';}">
      <img src="/images/PW_hero_propertyCard_image.jpeg" alt="property image" />
      <div class="propertyCard_info">
        <span class="colouredText">$2500</span><span class="greyText">/month</span>
        <p class="pcBigText">Sri City</p>
        <p class="greyText">Creekside properties</p>
        <div class="propertyCardNav">
          <span><i class="fa-solid fa-bed"></i> <span class="greyText">4</span></span>
          <span
            ><span><i class="fa-solid fa-bath"></i><span class="greyText">2</span></span></span
          >
          <span
            ><span
              ><i class="fa-solid fa-chart-area"></i
              ><span class="greyText"> 6x7.5m<sup>2</sup></span></span
            ></span
          >
        </div>
      </div>
    </div>
  </body>
</html>
