.propertyCard {
  margin: 0 auto;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-radius: 10px;
  max-width: 25em;
  border: 3px #f1effa;
  border-style: double;
  padding: 0;
  box-shadow: 0px 8px 16px 0px rgba(43, 0, 77, 0.2);
}

.propertyCard :hover {
  box-shadow: 0px 40px 80px 0px rgba(0, 0, 0, 0.2);
}

.propertyCard img {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.propertyCard_info {
  background-color: white;
  padding: 5%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container .row {
  gap: 2rem;
}
